#codeList{
  padding: 0;
}
.projectItem{
  list-style: none;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-top: 10px;
  width: 100%;
  background-color: var(--header-colour);
  box-shadow: 10px 5px 20px 1px #c9c9c9;
  color: white;
}
.leftBox{
  width: 80%;
  display: inline-block;
}
.rightBox{
  width: 20%;
  display: inline-block;
}
.ProjectGraphWrapper{
  float: left;
  width: 100%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .leftBox{
    width: 100%;
  }
  .rightBox{
    width: 100%;
  }
  .ProjectGraphWrapper{
    float: right;
    width: 50%;
    margin-bottom: 20px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .leftBox{
    width: 50%;
  }
  .rightBox{
    width: 50%;
  }
  .ProjectGraphWrapper{
    float: right;
    width: 100%;
    margin-bottom: 20px;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1024px) {
  .leftBox{
    width: 80%;
  }
  .rightBox{
    width: 20%;
  }
  .ProjectGraphWrapper{
    float: right;
    width: 100%;
    margin-bottom: 20px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1921px) {
  .projectItem{
    display: inline-block;
    width: 45%;
    margin-bottom: 0;
    margin: 20px;
    height: 300px;
  }
}